<br/>
<!-- 
<section id="footer">
<div class="container-footer">
  <div class="panel-footer">
	  <div class="row">
		<div class="col-sm-4">
		    <h5>About</h5>	
            <p>{{ site.affiliation }}</p>
		</div>

		<div class="col-sm-4">
		    <h5>Contact</h5>	
            <p>{{ site.contact }}</p>
		</div>

		<div class="col-sm-4">
		    <h5>Coordinates</h5>	
            <p>{{ site.location }}</p>
		</div>
	  </div>

      <center><p>&copy {{ "now" | date: "%Y" }} {{site.title | escape }} </p></center>
	</div>
  </div>
</div>
-->

<center>
<p>&copy {{ "now" | date: "%Y" }} {{site.title | escape }}</p>
<p style="font-size: 0.9em; color: #666;">Website template by <a href="https://github.com/sbryngelson/academic-website-template" target="_blank" style="color: #666;">Spencer H. Bryngelson</a></p>
</center>

<script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
