---
---


<style>
.btn{
    margin-bottom:5px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:15px;
    padding-right:15px;
    height:20px:
}
pre{
    white-space: pre-wrap;  
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap; 
    word-wrap: break-word; 
    width:100%; overflow-x:auto;
}
</style>


<div class="text-justify">{{reference}}</div>

<!-- You can use the below to make your name bold -->
<!-- {{reference | replace_first: 'Bryngelson, S. H.', '<b>Bryngelson, S. H.</b>' | replace_first: 'Bryngelson, S.', '<b>Bryngelson, S.</b>' }}</div> -->

{% assign bibtest = false %}
{% if entry.file %}
{% assign bibfile = "/papers/" | append: entry.file %}
{% for file in site.static_files %}
  {% if file.path contains bibfile %}
   {% assign bibtest = true %}
  {% endif %}
{% endfor %}
{% endif %}

{% if bibtest %}
<a href="{{ site.url }}{{ site.baseurl }}/papers/{{ entry.file }}" target="_blank"><button class="btn btn-success btm-sm">PDF</button></a>
{% endif %}

{% if entry.code %}
<a href="{{ entry.code }}" target="_blank"><button class="btn btn-info btm-sm">CODE</button></a>
{% endif %}

{% if entry.doi %}
{% if entry.type == 'unpublished' %}
<a href="{{ entry.doi | prepend: 'https://arxiv.org/abs/' }}" target="_blank"><button class="btn btn-primary btm-sm">ARXIV</button></a>
{% else %}
<a href="{{ entry.doi | prepend: 'http://doi.org/' }}" target="_blank"><button class="btn btn-primary btm-sm">DOI</button></a>
{% endif %}
{% endif %}

{% if entry.type == 'unpublished' or entry.type == 'article' or  entry.type == 'thesis' or entry.type == 'inproceedings' or entry.type == 'report' %}
<button class="btn btn-danger btm-sm"  onclick="toggleBibtex{{entry.key}}()">BIB</button>
{% endif %}

{% if entry.abstract %}
<button class="btn btn-warning btm-sm"  onclick="toggleAbstract{{entry.key}}()">ABSTRACT</button>
{% endif %}

{% if entry.abstract %}
{% assign clean_bib = entry.bibtex | remove: entry.abstract | remove: entry.code | remove: entry.file %}
{% assign clean_bib = clean_bib | replace: "code = {}", "" %}
{% assign clean_bib = clean_bib | replace: "code = {},", "" %}
{% assign clean_bib = clean_bib | replace: "file = {}", "" %}
{% assign clean_bib = clean_bib | replace: "file = {},", "" %}
{% assign clean_bib = clean_bib | replace: "

}", "
}" | replace: "
}", "}" | strip %}
<div id="a{{entry.key}}" style="display: none; background-color:black; border-radius:5px; padding:10px; margin-bottom:20px;">
<pre>{{ clean_bib }}</pre>
</div>
{% else %}
{% assign clean_bib = entry.bibtex | remove: entry.code | remove: entry.file %}
{% assign clean_bib = clean_bib | replace: "code = {}", "" %}
{% assign clean_bib = clean_bib | replace: "code = {},", "" %}
{% assign clean_bib = clean_bib | replace: "file = {}", "" %}
{% assign clean_bib = clean_bib | replace: "file = {},", "" %}
{% assign clean_bib = clean_bib | replace: "

}", "
}" | replace: "
}", "}" | strip %}
<div id="a{{entry.key}}" style="display: none; background-color:black; border-radius:5px; padding:10px; margin-bottom:20px;">
<pre>{{ clean_bib }}</pre>
</div>
{% endif %}

<div id="b{{entry.key}}" style="display: none; background-color:black; border-radius:5px; padding:10px; margin-bottom:20px;">
<pre>{{entry.abstract}}</pre>
</div>

<script>
function toggleBibtex{{entry.key}}(parameter) {
    var bibtex = document.getElementById('a{{entry.key}}');
    var abstract = document.getElementById('b{{entry.key}}');
    
    // Close abstract if it's open
    abstract.style.display = 'none';
    abstract.style.backgroundColor = '';
    
    // Toggle bibtex
    if (bibtex.style.display === 'none') {
        bibtex.style.display = 'block';
        bibtex.style.backgroundColor = 'white';
    } else {
        bibtex.style.display = 'none';
        bibtex.style.backgroundColor = '';
    }
}
function toggleAbstract{{entry.key}}(parameter) {
    var bibtex = document.getElementById('a{{entry.key}}');
    var abstract = document.getElementById('b{{entry.key}}');
    
    // Close bibtex if it's open
    bibtex.style.display = 'none';
    bibtex.style.backgroundColor = '';
    
    // Toggle abstract
    if (abstract.style.display === 'none') {
        abstract.style.display = 'block';
        abstract.style.backgroundColor = 'white';
    } else {
        abstract.style.display = 'none';
        abstract.style.backgroundColor = '';
    }
}
</script>
